[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tc0208
[access "refs/for/refs/*"]
	read = group user/tc0208
	push = group user/tc0208
	label-Code-Review = -2..+2 group user/tc0208
	label-Verified = -1..+1 group user/tc0208
	rebase = group user/tc0208
	removeReviewer = group user/tc0208
	submit = group user/tc0208
[access "refs/heads/*"]
	read = group user/tc0208
	create = group user/tc0208
	push = +force group user/tc0208
	pushMerge = group user/tc0208
[access "refs/tags/*"]
	push = +force group user/tc0208
	pushTag = group user/tc0208
	pushSignedTag = group user/tc0208
